/* Google Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Bad+Script&family=Parkinsans:wght@300..800&family=Petit+Formal+Script&family=Questrial&family=Quicksand:wght@300..700&display=swap);

/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Petit formal script", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #a1adb0; /* light blue/grey */
    --heading-color: #416a8e; /* blue */
}


h1 {
    font-family: var(--secondary-font);
}

body {
    background-color: #a1adb0;
}

#navbar {
    background-color: #1b3842;
}

#hero {
    background-image: url(../images/heroimage.jpg);
      /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

