/* Google Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Bad+Script&family=Parkinsans:wght@300..800&family=Petit+Formal+Script&family=Questrial&family=Quicksand:wght@300..700&display=swap);

/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Petit formal script", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #a1adb0; /* light blue/grey */
    --heading-color: #416a8e; /* blue */
}


h1, h2, h3 {
    font-family: var(--secondary-font);
}



p {
    font-family: var(--primary-font);
    font-size: large;
}

body {
    background-color: #a0bddc;
}

#navbar {
    background-color: #1b3842;
}

#hero {
    background-image: url(../images/heroimage.jpg);
      /* Set a specific height */
  height: 50%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
    padding: 7% 5%;
}


#tagline {
    font-family: var(--primary-font)
}

#intro {
    border: #3b4856;
}

#header-text{
    background-color: rgba(187, 225, 241, 0.5);
    color: #3b4856;
}

